.about-certificates-wrapper{
	background-color: #f0f2f7;
	width: 100%;
}

.about-certificates{
	display: grid;
	grid-template-columns: 70% 30%;

	max-width: 1490px;
	padding: 0 125px 0 190px;
	margin: 0 auto;

	background-color: #f0f2f7;
}