.certificates{
	position: relative;
	top: -12px;

	background-color: transparent;
	background-image: url("../img/certificate_back_image.png");
	background-position-x: right;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: auto;

	z-index: 101;
}

.certificates__block{
	width: 225px;
	margin-top: 50px;
}

.certificates__image-wrapper{
	transition: all 2s;
	width: 225px;
	height: 235px;

	&:hover,
	&:focus{
		opacity: 0.8;
	}
}

.certificates__text{
	font-family: "Exo 2";
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 22px;
	text-align: center;

	strong{
		font-family: "Exo 2- Semi Bold Italic";
		font-weight: 400;
		font-style: italic;
		letter-spacing: normal;
		line-height: normal;
	}
}

.certificates__slider{
	position: relative;
	bottom: 7%;
	right: 20%;

	display: flex;
	justify-content: space-between;

	width: 360px;
}

.certificates__slider-prev{
	@include buttons;

	&::before{
		content: "";

		position: relative;
		top: 0;
		left: 0;

		width: 30px;
		height: 10px;

		background-color: transparent;
		background-image: url("../img/arrow_left_certificates.png");
	}

	&:hover::before,
	&:focus::before{
		transform: translateX(-5px);
	}
}
.certificates__slider-next{
	@include buttons;

	&::before{
		content: "";

		position: relative;
		top: 0;
		left: 0;

		width: 30px;
		height: 10px;

		background-color: transparent;
		background-image: url("../img/arrow_right_certificates.png");
	}

	&:hover::before,
	&:focus::before{
		transform: translateX(5px);
	}
}