.rewiews-list{
	@include no-list-style;

	display: grid;
	grid-template-columns: 0.96fr 1.08fr 0.96fr;

	padding: 0 30px;
}

.rewiews-list__item{
	position: relative;
	transition-property: opacity, filter;
	transition-duration: 1s;
	transition-timing-function: linear;

	background: transparent;
	opacity: 0.5;

	&--none{
		display: none;
	}
	&--active{
		box-shadow: 0 20px 40px #dcdee3;
		transform: translateY(-8px);
		opacity: 1;
		z-index: 50;
	}
	&--inactive{
		filter: grayscale(1);
		transform: translateY(8px);
	}
}

.rewiew-left{
	transform: translateX(40px);
}
.rewiew-right{
	transition: opacity 1s linear;
	transform: translateX(-40px);
}

.rewiews-list__item--inactive .rewiews-list__shadow{
	transition: background 1s ease-in;

	position: absolute;
	width: 100%;
	height: 100%;

	background-image: linear-gradient(to right, transparent, white);

	z-index: 100;
}