.rewiew{
	padding: 0 40px;
	//padding-top: 0;

	box-shadow: 0 20px 40px #dcdee3;
	border-radius: 4px;
	border: 1px solid #ffffff;
	background-color: #ffffff;

	cursor: pointer;
}

.rewiew__client{
	display: flex;
	align-items: flex-start;
}
@media (max-width: 1200px){
	.rewiew__client{
		flex-direction: column;
	}
}

.rewiew__title{
	color: #333333;
	font-family: "Exo 2";
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	text-align: left;
	text-transform: uppercase;

	margin-bottom: 0;
	padding: 0;
}

.rewiew__title-wrapper{
	margin-left: 30px;
}

.rewiew__text{
	position: relative;

	padding-left: 30px;

	&::before{
		content: "";
		position: absolute;
		top: 8px;
		left: 0;

		width: 12px;
		height: 11px;

		background-image: url("../img/icon-rewiew-text.png");
	}
}