.rewiew__client{
	display: flex;
	align-items: flex-start;
}
.rewiew__title{
	color: #333333;
	font-family: "Exo 2";
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	text-align: left;
	text-transform: uppercase;

	margin-bottom: 0;
	padding: 0;
}

.rewiew__title-wrapper{
	margin-left: 30px;
}