.slider-rewiews__header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 45px;
}

.slider-rewiews__title{
	position: relative;

	padding-left: 190px;

	&::before{
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 279px;
		height: 50px;

		background-color: #1f3870;
		background-image: linear-gradient(to right, #ed8439 0%, #1f3870 100%);
		border-radius: 10px;

		transform: skewX(-45deg);

		margin-left: -130px;
	}
}

.slider-rewiews__dots{
	position: relative;

	display: flex;
	margin-right: 190px;
}
.slider-rewiews__dots-text{
	color: #828899;
	font-family: "Exo 2";
	font-size: 18px;
	font-weight: 400;

	padding: 0 20px;
}
.slider-rewiews__prev{
	position: relative;

	cursor: pointer;
	padding-right: 110px;

	&::before{
		content: "";

		position: absolute;
		top: 30%;
		left: 0;

		width: 88px;
		height: 20px;

		background-image: url("../img/arrow_left.png");
	}
}

.slider-rewiews__next{
	position: relative;

	cursor: pointer;
	padding-left: 110px;

	&::after{
		content: "";

		position: absolute;
		top: 30%;
		right: 0;

		width: 88px;
		height: 20px;

		background-image: url("../img/arrow_right.png");
	}
}

.rewiew__client-photo{
	width: 100px;
	height: 100px;
}

.snippet{
	display: flex;
	justify-content: center;
}
.slider-rewiews__snippet{
	position: relative;

	&::before{
		position: absolute;

		content: "";
		top: 0;
		left: 0;

		width: 22px;
		height: 22px;

		//border: 1px solid black;
		border-radius: 50%;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
		background-color: #ffffff;
		background-image: radial-gradient(at top center, #d9dee5, #abafb4);
	}

	&::after{
		position: absolute;

		content: "";
		top: 6px;
		left: 6px;

		width: 11px;
		height: 11px;

		border-radius: 50%;
		background-color: #ffffff;
	}
}