.slider-rewiews__header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 30px;
}

.slider-rewiews__title{
	position: relative;

	padding-left: 190px;

	&::before{
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 279px;
		height: 50px;

		background-color: #1f3870;
		background-image: linear-gradient(to right, #ed8439 0%, #1f3870 100%);
		border-radius: 10px;

		transform: skewX(-45deg);

		margin-left: -130px;
	}
}

.slider-rewiews__dots{
	position: relative;

	display: flex;
	margin-right: 135px;
}
.slider-rewiews__dots-text{
	color: #828899;
	font-family: "Exo 2";
	font-size: 18px;
	font-weight: 400;

	white-space: nowrap;

	padding: 0 20px;
}
.slider-rewiews__prev{
	@include buttons;

	transition: transform 200ms linear;

	position: relative;

	cursor: pointer;
	padding-right: 90px;

	&::before{
		content: "";

		position: absolute;
		top: 30%;
		left: 0;

		width: 88px;
		height: 20px;

		background-image: url("../img/arrow_left.png");
	}
	&:hover,
	&:focus{
		transform: translateX(-15px);
	}
}

.slider-rewiews__next{
	@include buttons;

	transition: transform 200ms linear;

	position: relative;

	cursor: pointer;
	padding-left: 90px;

	&::after{
		content: "";

		position: absolute;
		top: 30%;
		right: 0;

		width: 88px;
		height: 20px;

		background-image: url("../img/arrow_right.png");
	}
	&:hover,
	&:focus{
		transform: translateX(15px);
	}
}

.slider-rewiews__dots-down{
	display: flex;
	justify-content: center;

	//margin-top: 15px;
}
.slider-rewiews__dot{
	@include buttons;

	position: relative;

	padding: 20px;

	cursor: pointer;

	&::after{
		position: relative;

		content: "";
		top: 0;
		left: 0;

		width: 15px;
		height: 15px;

		border-radius: 50%;
		background-color: #dadfe6;
	}
}
.slider-rewiews__dot--active{
	&::before{
		position: relative;

		content: "";
		top: 0;
		left: 0;

		width: 22px;
		height: 22px;

		//border: 1px solid black;
		border-radius: 50%;
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
		background-color: #ffffff;
		background-image: radial-gradient(at top center, #d9dee5, #abafb4);
	}

	&::after{
		position: absolute;

		content: "";
		top: 42%;
		left: 41%;

		width: 11px;
		height: 11px;

		border-radius: 50%;
		background-color: #ffffff;
	}
}