-
	var certificateImg = [
		"img/certificate.webp",
		"img/certificate.png",
	];

.about-certificates
	section.about
		.scale
			.scale__block.scale__block--active
				.scale__text.text 2010 г.
				.scale__button
			.scale__block
				.scale__text.text 2011 г.
				.scale__button
			.scale__block
				.scale__text.text 2012 г.
				.scale__button
			.scale__block
				.scale__text.text 2013 г.
				.scale__button
			.scale__block
				.scale__text.text 2014 г.
				.scale__button

		p.about__text.text.about__text--active 2010 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.
		p.about__text.text 2011 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.
		p.about__text.text 2012 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.
		p.about__text.text 2013 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.
		p.about__text.text 2014 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.
		p.about__text.text 2015 <strong>Производственно-Коммерческая Фирма «Айсберг АС»</strong>Производственно-Коммерческая Фирма «Айсберг АС» создана,  чтобы закрывать потребности в черном, оцинкованном, цветном и нержавеющем металлопрокате, а так-же трубах, трубопроводной арматуре и грузоподъёмном оборудовании.

		button.about__button компания

	section.certificates
		.certificates__block
			.certificates__image-wrapper
				picture
					source(type="image/webp" srcset=`${certificateImg[0]}`)
					img.certificates__image(src=`${certificateImg[1]}` width="225" height="284" alt="Фото")
			.certificates__text Более 40 сертификатов соответствия продуции
		.certificates__slider
			button.certificates__slider-prev
			button.certificates__slider-next

